body {
    background: rgb(53, 11, 53);
    color: rgb(247, 243, 243);
}

header {
          border: solid 2px purple;
          padding: 20px;
          font-size: 32px;
          color: black;
}

section {
         background: rgb(10, 10, 10);
        padding-bottom: 70px;
        padding-top: 70px;
        
}


